<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Administrator</title>
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<title>main</title>
<link href="../css/main.css" rel="stylesheet"/>
<script src="../js/vue.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="../element-ui/index.css">
<!-- 引入组件库 -->
<script src="../element-ui/index.js"></script>
<script src="../element-ui/axios.min.js"></script>
<script
  src="../js/jquery-3.4.1.min.js"></script>
</head>
<body>
<div id="main">
    <!-- 标题 -->
    <div class="titlePart">
        <h1>Welcome!Administrator</h1>
    </div>
    <!-- 导航栏 -->
    <div class="navigate">    
        <el-menu :default-active="barIndex" class="el-menu-demo" mode="horizontal"
        @select="handleSelect" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
            <el-menu-item index="1">账号管理</el-menu-item>
            <el-menu-item index="2">个人信息</el-menu-item>
            <el-menu-item index="3">销售统计</el-menu-item>
            <el-menu-item index="4">退出登录</el-menu-item>
        </el-menu>
    </div>
    <!-- 账号管理 -->
     <div v-if = 'barIndex==1' class="part">
        <h2 class="shoppingCarh2 browsedh2">账号管理</h2>
        <div class="browsedPart">
            <el-button type="text" v-on:click="handleAddAssistant" size="medium">添加销售人员</el-button>
            <el-table :data="assistant" style="width: 100%" max-height="530">
                <el-table-column fixed prop="userInfo.userId" label="Id" width="120"></el-table-column>
                <el-table-column prop="userInfo.name" label="用户名" width="120"></el-table-column>
                <el-table-column prop="localAuth.username" label="账号" width="120"></el-table-column>
                <el-table-column prop="localAuth.password" label="密码" width="130"></el-table-column>
                <el-table-column prop="userInfo.productCategory.productCategoryName" label="管理商品类别" width="130"></el-table-column>
                <el-table-column fixed="right" label="操作" width="120">
                    <template slot-scope="scope">
                        <el-button
                                @click.native.prevent="modifyRow(scope.$index, assistant)"
                                type="text"
                                size="small">
                            修改
                        </el-button>
                        <el-button
                                @click.native.prevent="deleteRow(scope.$index, assistant)"
                                type="text"
                                size="small">
                            删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <!--  添加销售人员  -->
            <el-dialog title="添加销售人员" :visible.sync="addAssistantDialog" width="50%" center>
                <span slot="footer" class="dialog-footer">
                    <el-form ref="oneAssistant" :model="oneAssistant" label-width="80px">
                        <el-form-item label="用户名">
                            <el-input v-model="oneAssistant.userInfo.name" placeholder="请输入用户名" ></el-input>
                        </el-form-item>
                        <el-form-item label="账号">
                            <el-input v-model="oneAssistant.localAuth.username" placeholder="请输入账号" ></el-input>
                        </el-form-item>
                        <el-form-item label="密码">
                            <el-input v-model="oneAssistant.localAuth.password" placeholder="请输入密码" ></el-input>
                        </el-form-item>
                        <el-form-item label="商品类别">
                            <el-select v-model="oneAssistant.userInfo.productCategory.productCategoryId" placeholder="">
                                <el-option label="手机" value="1"></el-option>
                                <el-option label="电脑" value="2"></el-option>
                                <el-option label="平板电脑" value="3"></el-option>
                                <el-option label="智能家居" value="4"></el-option>
                                <el-option label="户外装备" value="5"></el-option>
                            </el-select>
                </el-form-item>
                        <el-form-item>
                            <el-button type="primary" v-on:click="addAssistant">添 加</el-button>
                        </el-form-item>
                    </el-form>
                </span>
            </el-dialog>
            <!--  修改  -->
            <el-dialog title="提示" :visible.sync="assistantInfoDialog" width="50%" center>
                <span slot="footer" class="dialog-footer">
                    <el-form ref="oneAssistant" :model="oneAssistant" label-width="80px">
                        <el-form-item label="用户名">
                            <el-input v-model="oneAssistant.userInfo.name" placeholder="null" ></el-input>
                        </el-form-item>
                        <el-form-item label="账号">
                            <el-input v-model="oneAssistant.localAuth.username" placeholder="null" :disabled="true" ></el-input>
                        </el-form-item>
                        <el-form-item label="密码">
                            <el-input v-model="oneAssistant.localAuth.password" placeholder="" ></el-input>
                        </el-form-item>
                        <el-form-item label="商品类别">
                            <el-select v-model="oneAssistant.userInfo.productCategory.productCategoryId" placeholder="">
                                <el-option label="手机" value="1"></el-option>
                                <el-option label="电脑" value="2"></el-option>
                                <el-option label="平板电脑" value="3"></el-option>
                                <el-option label="智能家居" value="4"></el-option>
                                <el-option label="户外装备" value="5"></el-option>
                            </el-select>
                </el-form-item>
                        <el-form-item>
                            <el-button type="primary" v-on:click="changeAssistantInfo">修 改</el-button>
                        </el-form-item>
                    </el-form>
                </span>
            </el-dialog>

        </div>
    </div>
    <!-- 个人信息 -->
    <div v-if = 'barIndex==2' class="part">
        <h2 style="color:#606266;padding-top:20px;padding-bottom:20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;个人信息</h2>
        <div id="userInfo">
            <el-form ref="userInfo" :model="userInfo" label-width="80px">
                <el-form-item label="用户名">
                    <el-input v-model="userInfo.name" placeholder="null" ></el-input>
                </el-form-item>
                <el-form-item label="账号">
                    <el-input v-model="localAuth.username" placeholder="账号" :disabled="true" ></el-input>
                </el-form-item>
                <el-form-item label="密码">
                    <el-input v-model="localAuth.password" placeholder="请输入密码" show-password ></el-input>
                </el-form-item>
                <el-form-item label="邮箱">
                    <el-input v-model="userInfo.email" placeholder="请输入邮箱" ></el-input>
                </el-form-item>
                <el-form-item label="账户余额" >
                    <el-input v-model="userInfo.money" placeholder="0.00" :disabled="true"></el-input>

                </el-form-item>
                <el-form-item>
                    <el-button type="primary" v-on:click="changeUserInfo">修 改</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
    <!-- 销售统计 -->
    <div v-if = 'barIndex==3' class="part">
        <el-menu :default-active="productCategoryIndex" class="el-menu-demo" mode="horizontal" @select="handleSelectProductCategory">
            <el-menu-item index="1">手机</el-menu-item>
            <el-menu-item index="2">电脑</el-menu-item>
            <el-menu-item index="3">平板电脑</el-menu-item>
            <el-menu-item index="4">智能家居</el-menu-item>
            <el-menu-item index="5">户外装备</el-menu-item>
        </el-menu>
        <div class="browsedPart">
        <el-table :data="boughtRecordList" border style="width: 100%" empty-text="暂无销售记录" lazy=true  highlight-current-row
         max-height="530">
            <el-table-column prop="boughtTime" label="时间" width="160"></el-table-column>
            <el-table-column prop="product.productName" label="商品名称" width="160"></el-table-column>
            <el-table-column prop="user.name" label="买家" width="160"></el-table-column>
            <el-table-column prop="product.enableStatus" label="销售状态" width="190"></el-table-column>
            <el-table-column prop="unitPrice" label="售价/￥" width="140"> </el-table-column>
            <el-table-column prop="count" label="销售数量/件" width="156"> </el-table-column>
        </el-table>   
        </div>
    </div>
    <!-- 退出登录 -->
    <div v-if = 'barIndex==4' class="part">
        <el-button type="text" @click="addNewGoods"><h2 class="shoppingCarh2">新增商品</h2></el-button>
        <div>
        <div class="goodsPart" v-for= "(i,index) in allGoods">
            <img v-bind:src='i.gUrl' class="goodsImg">
            <div class="goodsPartInfo">
                <h2 class="goodsTitle">{{i.gName}}</h2>
                <div class="fenge"></div>
                <p class="describe1">{{i.gIntroduce}}</p>
                <div class="goodBottom1">
                    <p class="gMoney1"><strong>售价：￥</strong>{{i.gMoney}}</p>
                    <p class="reserve1"><strong>余量：</strong>{{i.gReserve}}&nbsp;<strong>件</strong></p>
                </div>
                <div>
                    <el-button type="primary" @click="changeGoods(index)">修改信息</el-button>
                    <el-button type="primary" @click="deleteGoods(i.gNo)">下架商品</el-button>
                </div>
            </div>    
        </div>
        </div>
        <!-- 修改/新增商品Dialog -->
        <div class="goodsCard">
            <el-dialog  :visible.sync="readMoreJug" class="goodsCardDialog" fullscreen ="true">
                    <h1 v-if='goodsIndex==-1'>新增商品</h1>
                    <h1 v-else>修改商品</h1>
                <div class="goodsDiglog">
                    
                    <el-form ref="goodsInfo" :model="goodsInfo" label-width="80px">
                        <el-form-item label="商品名">
                            <el-input v-model="goodsInfo.gName" placeholder="请输入商品名"></el-input>
                        </el-form-item>
                        <el-form-item label="简介">
                            <el-input v-model="goodsInfo.gIntroduce" placeholder="请输入简介"></el-input>
                        </el-form-item>
                        <el-form-item label="定价">
                            <el-input v-model="goodsInfo.gMoney" placeholder="请输入定价"></el-input>
                        </el-form-item>
                        <el-form-item label="数量">
                            <el-input placeholder="请输入数量" v-model="goodsInfo.gReserve" ></el-input>
                        </el-form-item>
                        <el-form-item v-for="(gParam, index) in goodsInfo.gParams" :label="'参数' + index" :key="gParam.key" :prop="'gParams.' + index + '.val'">
                            <el-input v-model="gParam.value" class="elinput"></el-input>
                            <el-button @click.prevent="removeGParam(gParam)">删除</el-button>
                        </el-form-item>
                        <el-form-item>
                            <el-upload
                            action=""
                            list-type="picture-card"
                            :on-change="handleChange"
                            :on-remove="handleRemove"
                            :data="goodsInfo"
                            :auto-upload="false"
                            multiple
                            :limit="2"
                            :file-list="fileList"
                            accept="image/jpeg,image/x-png">
                            <i class="el-icon-plus"></i>
                            </el-upload>
                        </el-form-item>
                        <el-form-item >
                                <el-button @click="addGParam">新增参数</el-button>
                                <el-button type="primary" @click="changeGoodsInfo()">上传</el-button>  
                        </el-form-item>   
                    </el-form>
                </div>
                
                <!-- <img v-bind:src='goods[goodsIndex].gUrl' class="goodsDetailImg">
                <img v-bind:src='goods[goodsIndex].gUrl2' class="goodsDetailImg">
                <p><strong><font size="4">详情</font></strong></p>
                <p>{{goods[goodsIndex].gIntroduce}}</p>
                <p>{{goods[goodsIndex].gDetail}}</p>
                <div class="fenge"></div>
                <div class="goodsCardBottom"><p><strong>售价：￥</strong>{{goods[goodsIndex].gMoney}}</p><p><strong>余量：</strong>{{goods[goodsIndex].gReserve}}&nbsp;<strong>件</strong></p></div>
                <el-button type="primary" v-if="isAddGoods" @click="AddGoods(goodsIndex)">加入购物车</el-button>
                <el-button type="info" disabled v-else>已售罄</el-button> -->
            </el-dialog>
        </div>
    </div>

</div>
<script>
    var main = new Vue({
        el:"#main",
        data(){
            return {
                user:{
                	uName:"",
                },
                barIndex:7,
                productCategoryIndex:1,
                addAssistantDialog:false,  // 添加销售人员对话框
                boughtRecordList: null,
                assistantInfoDialog: false, // 销售人员信息对话框
                goods:[],
                allGoods:[],
                goodsIndex:1,
                customerInfo:[],
                assistant:null,
                userInfo: null,
                localAuth:null,
                oneAssistant:{
                    userInfo:{
                        name: null,
                        productCategory:{
                            productCategoryName:null,
                            productCategoryId:null
                        }
                    },
                    localAuth:{
                        username:null,
                        password:null,
                    }
                }, // 单个销售人员信息
                readMoreJug:false,
                fileList:[],
                fileListCnt:0,
                goodsInfo:{
                    gNo:'',
                    gName:'',
                    gIntroduce:'',
                    gMoney:'',
                    gReserve:'',
                    gUrl:'',
                    gDetail:'',
                    gParams:[],
                    gUrl2:''
                }
            }
        },
        methods:{
            // 导航栏选择
            handleSelect(key, keyPath){
                var ctx = this
                console.log(key)
                // 账号管理
                if(key == 1) {
                    ctx.barIndex = 1
                    axios.get('/OSP/admin/loadAssistantInfo')
                        .then(function (resp) {
                            ctx.isExist(resp)
                           if(resp.data.success == true){
                               ctx.assistant = resp.data.assistantList
                               ctx.oneAssistant = ctx.assistant[0]
                           }
                           else {
                               ctx.$message({
                                   message:'获取销售人员信息失败',
                                   type:'error'
                               })
                           }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
                // 个人信息
                else if(key == 2) {
                    ctx.barIndex = 2

                    axios.get('/OSP/user/getUserInfo')
                        .then(function (resp) {
                            ctx.isExist(resp)
                            ctx.userInfo = resp.data.userInfo
                            ctx.localAuth = resp.data.localAuth
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
                else if(key == 3) {
                    ctx.barIndex = 3
                    ctx.productCategoryIndex = 1
                    axios.get("/OSP/admin/getBoughtRecord?productCategoryId=" + ctx.productCategoryIndex.toString())
                        .then(function(resp){
                            ctx.isExist(resp)
                            if(resp.data.success == true) {
                                ctx.boughtRecordList = resp.data.boughtRecordList
                            }else {
                                ctx.$message({
                                    message:'获取记录失败',
                                    type:'error'
                                })
                            }
                        })
                }
                else if(key == 4) {
                    axios.get('/OSP/user/logout')
                        .then(function (resp) {
                            window.location.href='/OSP/front/login';
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            },
            handleAddAssistant() {
                var ctx = this
                ctx.oneAssistant = {
                    userInfo:{
                        userId : "",
                        name : "",
                        profileImg : "",
                        email  : "",
                        gender : "",
                        enableStatus :  1, // 默认允许使用
                        userType : 3, // 用户
                        createTime :  "",
                        lastEditTime : "",
                        money : 0.00,
                        productCategory: {
                            productCategoryId:"",
                            productCategoryName:"",
                            priority:"",
                            createTime:""
                        }
                    },
                    localAuth:{
                        localAuthId : "",
                        userId : "",
                        username : "",
                        password : "",
                        createTime : "",
                        lastEditTime : ""
                    }
                }
                ctx.addAssistantDialog = true
            },
            isExist(resp) {
                if(resp.data.exist != null){
                    this.$message({
                        message:'登录超时！请重新登录',
                        type:'error'
                    })
                    setTimeout(function(){
                        window.location.href='/OSP/front/login';
                    },500)
                }
            },
            // 添加销售人员
            addAssistant() {
                var ctx = this
                if(ctx.oneAssistant.localAuth.username === ''){
                    ctx.$message.error("账号不能为空！")
                    return
                }
                if(ctx.oneAssistant.localAuth.password === ''){
                    ctx.$message.error("密码不能为空！")
                    return
                }
                if(ctx.oneAssistant.userInfo.name === ''){
                    ctx.$message.error("用户名不能为空")
                    return
                }
                ctx.oneAssistant.userInfo.userType = 3
                var params = new URLSearchParams({
                    userInfo : JSON.stringify(ctx.oneAssistant.userInfo),
                    localAuth : JSON.stringify(ctx.oneAssistant.localAuth)
                })
                axios.post('/OSP/user/register', params)
                    .then(function (resp) {
                        ctx.isExist(resp)
                        //注册失败
                        if(resp.data.success == 0){
                            ctx.$message({
                                message:'账号已存在！',
                                type:'error'
                            })
                            ctx.oneAssistant.localAuth.username = ''
                        }
                        else if(resp.data.success == 1){
                            ctx.$message({
                                message:'注册成功!',
                                type:'success'
                            });
                            ctx.addAssistantDialog = false
                            axios.get('/OSP/admin/loadAssistantInfo')
                                .then(function (resp) {
                                    ctx.isExist(resp)
                                    if(resp.data.success == true){
                                        ctx.assistant = resp.data.assistantList
                                        ctx.oneAssistant = ctx.assistant[0]
                                    }
                                    else {
                                        ctx.$message({
                                            message:'获取销售人员信息失败',
                                            type:'error'
                                        })
                                    }
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });
                        }
                        else{
                            ctx.$message({
                                message:'注册失败!请重新尝试',
                                type:'error'
                            });
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            // 商品类别导航栏选择
            handleSelectProductCategory(key, keyPath) {
                var ctx = this
                ctx.productCategoryIndex = key
                axios.get("/OSP/admin/getBoughtRecord?productCategoryId=" + key.toString())
                    .then(function(resp){
                        ctx.isExist(resp)
                        if(resp.data.success == true) {
                            ctx.boughtRecordList = resp.data.boughtRecordList
                        }else {
                            ctx.$message({
                                message:'获取记录失败',
                                type:'error'
                            })
                        }
                    })
            },

            // 修改销售人员信息进入控制
            modifyRow(index, rows) {
                var ctx = this
                ctx.assistantInfoDialog = true
                ctx.oneAssistant = ctx.assistant[index]
            },
            // 修改销售人员信息
            changeAssistantInfo() {
                var ctx = this
                var params = new URLSearchParams({
                    assistant : JSON.stringify(ctx.oneAssistant)
                })
                axios.post('/OSP/admin/modifyAssistant', params)
                    .then(function (resp) {
                        ctx.isExist(resp)
                            if(resp.data.success == true) {
                                ctx.$message({
                                    message:'修改成功',
                                    type:'success'
                                })
                                ctx.assistant = resp.data.assistantList
                            }
                            else {
                                ctx.$message({
                                    message:'修改失败',
                                    type:'error'
                                })
                            }
                            ctx.assistantInfoDialog = false
                    }).catch(function (error) {
                        console.log(error);
                    });
            },
            // 删除销售人员账号
            deleteRow(index, rows) {
                var ctx = this
                axios.get('/OSP/admin/deleteAssistant?userId=' + ctx.assistant[index].userInfo.userId.toString())
                    .then(function (resp) {
                        ctx.isExist(resp)
                        if(resp.data.success == true) {
                            ctx.$message({
                                message:'删除成功',
                                type:'success'
                            })
                            ctx.assistant.splice(index, 1)
                        }
                        else {
                            ctx.$message({
                                message:'删除失败',
                                type:'error'
                            })
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            //修改个人资料
            changeUserInfo(){
                var ctx = this
                var params = new URLSearchParams({
                    userInfo : JSON.stringify(ctx.userInfo),
                    localAuth : JSON.stringify(ctx.localAuth)
                })
                axios.post('/OSP/user/modifyUserInfo', params)
                    .then(function (resp) {
                        ctx.isExist(resp)
                        if(resp.data.success == true) {
                            ctx.$message({
                                message:'修改成功！',
                                type:'success'
                            })
                        }
                        else {
                            ctx.$message({
                                message:resp.data.errMsg,
                                type:'error'
                            })
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
        },
             
    })
</script>
</body>
</html>